<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailBlaze</title>
    <!-- Favicon -->
    <link rel="icon" href="Images/camping-tent.png" type="image/x-icon">
    <!-- Remixicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/styles/Home1.css">

</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="/Images/logo.svg" alt="logo">
            </a>

            <div class="nav__menu show-menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="/campgrounds" class="nav__link">Campgrounds</a>
                    </li>

                    <li class="nav__item">
                        <a href="https://github.com/namanxdev" class="nav__link">Contact Us</a>
                    </li>
                </ul>
                <div class="nav__buttons">
                    <% if (!currentUser) { %>
                        <a href="/login" class="nav__buttons-link">Login</a>
                        <a href="/register" class="nav__buttons-ghost">Register</a>
                    <% } else { %>
                        <a href="/logout" class="nav__buttons-ghost">Logout</a>
                    <% } %>
                </div>
                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <!-- Toggle Button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home">
            <div class="home__container container">
                <div class="home__content">
                    <h3 class="home__subtitle">
                        A LIFETIME EXPERIENCE
                    </h3>

                    <h1 class="home__title">
                        Camping Events <br>
                        To Remember
                    </h1>
                    <p class="home__description">
                        Camp anywhere anytime without hassle and enjoy
                    </p>
                    <a href="/campgrounds" class="home__button">
                        Explore Locations
                    </a>
                </div>
            </div>
            <img src="Images/bird-1.svg" alt="Image" class="home__bird-1">
                <img src="Images/bird-2.svg" alt="Image" class="home__bird-2" >
                
                <div class="home__images">
                    <img src="Images/img-4.svg" alt="image" class="home__img-4">
                    <img src="Images/img-3.svg" alt="image" class="home__img-3">
                    <img src="Images/img-2.svg" alt="image" class="home__img-2">
                    <img src="Images/img-1.svg" alt="image" class="home__img-1">
                </div>
        </section>
    </main>
    
    <!--=============== GSAP ===============-->
    <script src=""></script>

    <!--=============== MAIN JS ===============-->
    <script src="javascripts/Home.js"></script>
</body>
</html>