<% layout('layout/boilerplate.ejs') %>
<body>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add Campground</a>
    <ul>
        <% for( let Campground of campgrounds) { %>
            <li><a href="campgrounds/<%= Campground._id%>"><%= Campground.title%></a></li>
        <% } %>
    </ul>
</body>
